<?xml version="1.0"?>
<config>
  <modules>
    <Septsite_Omnibus>
      <version>0.1.0</version>
    </Septsite_Omnibus>
  </modules>
  <global>
    <helpers>
      <omnibus>
        <class>Septsite_Omnibus_Helper</class>
      </omnibus>
    </helpers>
	<blocks>
	  <omnibus>
		<class>Septsite_Omnibus_Block</class>
	  </omnibus>
	</blocks>
	<resources>
	  <omnibus_setup>
		<setup>
		  <module>Septsite_Omnibus</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </omnibus_setup>
	  <omnibus_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </omnibus_write>
	  <omnibus_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </omnibus_read>
	</resources>
	<models>
		 <omnibus>
                <class>Septsite_Omnibus_Model</class>
                <resourceModel>omnibus_mysql4</resourceModel>
            </omnibus>
            <omnibus_mysql4>
                <class>Septsite_Omnibus_Model_Mysql4</class>
                <entities>
                    <omnibus>
                        <table>omnibus</table>
                    </omnibus>
                </entities>
            </omnibus_mysql4>
            <omnibus>
                <class>Septsite_Omnibus_Model</class>
            </omnibus>
	</models>
	<events>
	<catalog_product_save_before>
            <observers>
                <omnibus_detect_product_changes>
                    <type>singleton</type>
                    <class>Septsite_Omnibus_Model_Observer</class>
                    <method>detectPriceChanges</method>
                </omnibus_detect_product_changes>
            </observers>
        </catalog_product_save_before>
	</events>
  </global>
  <admin>
	<routers>
	  <omnibus>
	    <use>admin</use>
		<args>
		  <module>Septsite_Omnibus</module>
		  <frontName>admin_omnibus</frontName>
		</args>
	  </omnibus>
	</routers>
  </admin>
  <adminhtml>
	<menu>
			<szokart>
        <title>Dodatkowe</title>
		<sort_order>1000</sort_order>
		<children>
	  <omnibus module="omnibus">
		<title>Omnibus</title>
		<sort_order>100</sort_order>
			<action>admin_omnibus/adminhtml_omnibus</action>
	  </omnibus>
	</children>
             </szokart>
		</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<omnibus translate="title" module="omnibus">
			  <title>Omnibus</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <omnibusbackend translate="title">
			<title>Backend Page Title</title>
		  </omnibusbackend>
			  </children>
			</omnibus>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<omnibus>
		  <file>omnibus.xml</file>
		</omnibus>
	  </updates>
	</layout>
  </adminhtml>
    <crontab>
        <jobs>
			<omnibus_omnibus>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>omnibus/cron::Omnibus</model></run>
            </omnibus_omnibus>
        </jobs>
    </crontab>
</config> 